.main{
    background-image: url('bgimage1.jpg');
    height: 550px;
}

#logo{
    width: 170px;
    height: 70px;
    margin-left: 30px;
}

.r-right{
    margin:20px 50px;
    font-weight: bold;
    padding: -10px;
}

#orange{
    color: rgb(196, 48, 22);
}

#orangeb{
    border: 2px solid rgb(196, 48, 22);
    color: rgb(196, 48, 22);

}






.center{
    text-align: center;
    padding-top: 100px;
    color: white;
    width: 450px;
    margin-left: 500px;
}

#jumb{
    margin-bottom: 30px;
}







.foot{
    margin-top: 10px;
    background-color: rgb(66, 10, 2);
    color: white;
    height: 100px;
}

.footleft{
    padding: 20px 0px 0px 150px;
}

.footright{  
    padding: -20px;
    margin-right: 20px;
 } 

  .social{
     margin-left: 600px;
 }
